<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="container" style="float: right; width: 50px; margin-top: 50px; margin-right: 300px">
    {{nameUser}}
    
 <a target="_blank" href="https://www.facebook.com/Dream-HOTEL-2120643101582165/?modal=admin_todo_tour" class="fa fa-facebook">
</a>
 
</div>

<div class="container">
  <img src="/src/assets/imagenes/logo.jpg" class="logoImagen">
</div>


<nav class="navbar navbar-expand-lg navbar-light bg-primary" style="margin-bottom: -1px">
  <div class="container">
    <!-- <a class="navbar-brand" href="#">RESERVA</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <button style="color: white" mat-button class="nav-link" [routerLink]="['/home']">Home</button>
        </li>
        <li class="nav-item">
          <button style="color: white" mat-button class="colorButon" [routerLink]="['/listarAviones']">Aviones</button>
        </li>
        <li class="nav-item">
          <button style="color: white" mat-button class="colorButon" [routerLink]="['/reservaHabitacion']">Salida vuelo</button>
        </li>
        <li class="nav-item">
          <button style="color: white" mat-button class="colorButon" [matMenuTriggerFor]="menu">Reportes</button>
        </li>
        <li class="nav-item">
          <button style="color: white" mat-button class="colorButon" [routerLink]="['/insertarAvion']">Add avion</button>
        </li>
        <li class="nav-item">
          <button style="color: white" mat-button class="colorButon" [routerLink]="['/insertarPasajero']">Add pasajero</button>
        </li>
      </ul> 

      <ul class="navbar-nav mr-auto" style="float: right">
        <!---<li class="nav-item">
          <button style="color: white" mat-button class="colorButon" [routerLink]="['/registrarUsuario']">Registrarse</button>
        </li>-->
        <li class="nav-item">
          <button style="color: white" mat-button class="colorButon" [routerLink]="['/login']">Login</button>
          <!--<button style="color: white" mat-button class="colorButon" (click)="salir()" *ngIf="existeUsuario()"
            [routerLink]="">Salir</button>-->
        </li>
        <li class="nav-item">
            <button (click)="salir()" *ngIf="salirButton" style="color: white" mat-button class="colorButon" [routerLink]="['/home']">Salir</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div>
  <router-outlet></router-outlet>
</div>


<!-- <app-home></app-home>  (click)="salir()"  -->
<mat-menu #menu="matMenu">
  <button [routerLink]="['/totalVentas']" mat-menu-item>Total venta</button>
  <button mat-menu-item>Destinos</button>
  <button mat-menu-item>Psajeros</button>
</mat-menu>
 
<!--
<div class="navBarPositionPadre">
  <div class="navBarPositionHijo">
    <button mat-button class="colorButon" [routerLink]="['/home']">Home</button>
    <button mat-button class="colorButon" [routerLink]="['/listarHabitaciones']">Habitaciones</button>
    <button mat-button class="colorButon" [routerLink]="['/reservaHabitacion']">Reserva</button>
    <button mat-button class="colorButon" [routerLink]="['/registrarUsuario']">Registrarse</button>
    <button mat-button class="colorButon" [matMenuTriggerFor]="menu">Servicios</button>
    <button mat-button class="colorButon">Foro</button>
  </div>
  <div class="positionLogin"> 
    <button mat-button class="colorButon">Login</button>
  </div>
</div>
-->